/dts-v1/;
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    behaviors {
        default_layer {
            compatible = "zmk,behavior-layers";
            #binding-cells = <0>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp ESC   &kp N1    &kp N2    &kp N3    &kp N4    &kp N5
                &kp TAB   &kp Q     &kp W     &kp E     &kp R     &kp T
                &kp LCTL  &kp A     &kp S     &kp D     &kp F     &kp G
                &kp LS(DEL) &kp Z   &kp X     &kp C     &kp V     &kp B
                &kp LGUI  &kp LALT  &kp SPACE &kp BSPC  &kp RET   &kp NO
            >;
        };
    };
};
